In [33]:
#Hello

"""

https://github.com/vsjha18/nsetools/blob/master/docs/source/index.rst
https://finance.yahoo.com/quote/%5ENSEI/history/

https://www.nseindia.com/market-data/eod-historical-data-subscription
************ https://stackoverflow.com/questions/27678734/stock-quotes-from-yahoo-finance-for-indian-nse-bse#47053741
https://duckduckgo.com/?q=google+finance+api&t=brave&ia=web
https://algotrading101.com/learn/google-finance-api-guide/
************ https://query1.finance.yahoo.com/v8/finance/chart/CDSL.NS
https://nsetools.readthedocs.io/en/latest/introduction.html
https://stackoverflow.com/questions/13055208/httperror-http-error-403-forbidden#13055444
************ https://www.alphavantage.co/documentation/


#!pip install investpy import investpy

"""

'\n\nhttps://github.com/vsjha18/nsetools/blob/master/docs/source/index.rst\nhttps://finance.yahoo.com/quote/%5ENSEI/history/\n\nhttps://www.nseindia.com/market-data/eod-historical-data-subscription\n************ https://stackoverflow.com/questions/27678734/stock-quotes-from-yahoo-finance-for-indian-nse-bse#47053741\nhttps://duckduckgo.com/?q=google+finance+api&t=brave&ia=web\nhttps://algotrading101.com/learn/google-finance-api-guide/\n************ https://query1.finance.yahoo.com/v8/finance/chart/CDSL.NS\nhttps://nsetools.readthedocs.io/en/latest/introduction.html\nhttps://stackoverflow.com/questions/13055208/httperror-http-error-403-forbidden#13055444\n************ https://www.alphavantage.co/documentation/\n\n'

In [30]:
#!pip install nsetools
from nsetools import Nse
nse = Nse()
#q = nse.get_quote('infy')

In [86]:
import os
import requests
import json
import pandas as pd

In [91]:
# os.environ["AVK"] = ""
# print(os.environ["AVK"])

In [23]:
key=os.environ["AVK"]

url = "https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=RELIANCE.BSE&outputsize=full&apikey="+key
r = requests.get(url)
data = r.json()

In [66]:
# data
print(json.dumps(data["Meta Data"], indent=2))

{
  "1. Information": "Daily Prices (open, high, low, close) and Volumes",
  "2. Symbol": "RELIANCE.BSE",
  "3. Last Refreshed": "2024-11-22",
  "4. Output Size": "Full size",
  "5. Time Zone": "US/Eastern"
}

In [67]:
# print(json.dumps(data["Time Series (Daily)"], indent=2))

# print(json.dumps(data["Time Series (Daily)"]["2024-11-22"], indent=2))

# data = [['tom', 10], ['nick', 15], ['juli', 14]]
# df = pd.DataFrame(data, columns=['Name', 'Age'])

{
  "1. open": "1229.9000",
  "2. high": "1268.6500",
  "3. low": "1223.0500",
  "4. close": "1265.9500",
  "5. volume": "1055840"
}

In [87]:

ds=data["Time Series (Daily)"]
tmp_array=[]
for day in ds :
    daily=ds[day]
    tmp_array.append(
                     [day, daily['1. open'],daily['2. high'],daily['3. low'],daily['4. close'],daily['5. volume']]
                    )

df=pd.DataFrame(tmp_array,columns=["Date","Open","High","Low", "Close", "Volume"])

In [89]:
df

            Date       Open       High        Low      Close    Volume
0     2024-11-22  1229.9000  1268.6500  1223.0500  1265.9500   1055840
1     2024-11-21  1247.0500  1247.0500  1217.7000  1223.2000    491073
2     2024-11-19  1259.0500  1281.0000  1235.4500  1241.3000    397953
3     2024-11-18  1266.5500  1273.1000  1244.0000  1260.6500    609245
4     2024-11-14  1254.5500  1272.5000  1252.2500  1267.7000    799528
...          ...        ...        ...        ...        ...       ...
4894  2005-01-07   359.8268   373.1158   359.5200   368.5838  33939690
4895  2005-01-06   357.7824   365.6194   356.1470   358.4298  26893035
4896  2005-01-05   358.1232   363.9158   351.8194   361.1214  33908532
4897  2005-01-04   364.5974   371.3782   360.8490   361.7348  20119886
4898  2005-01-03   354.4090   371.0712   354.4090   370.1174  23685843

[4899 rows x 6 columns]

In [93]:

class fetchUtils():
    def __init__(self,AVKey):
        self.AVKey=AVKey

    def fetchAlphaVantageQuote(self, functionAV="TIME_SERIES_DAILY", symbol="RELIANCE.BSE", outputsize="full"):
        url = "https://www.alphavantage.co/query?function="+functionAV+"&symbol="+symbol+"&outputsize="+outputsize+"&apikey="+self.AVKey
        r = requests.get(url)
        data = r.json()
        return data

# os.environ["AVKey"] = ""
fU = fetchUtils(os.environ["AVKey"])


tickrs=["RELIANCE.BSE"]
for tickr in tickrs:
    data= fU.fetchAlphaVantageQuote("TIME_SERIES_DAILY_ADJUSTED", tickr, "full")


# print(json.dumps(data["Meta Data"], indent=2))
# print(json.dumps(data["Time Series (Daily)"]["2024-11-22"], indent=2))


ds=data["Time Series (Daily)"]
tmp_array=[]
for day in ds :
    daily=ds[day]
    tmp_array.append(
                     [day, daily['1. open'],daily['2. high'],daily['3. low'],daily['4. close'],daily['5. volume']]
                    )

df=pd.DataFrame(tmp_array,columns=["Date","Open","High","Low", "Close", "Volume"])

KeyError: 'AVKey'

In [92]:

#!pip install investpy
import investpy

df = investpy.get_stock_historical_data(stock='AAPL',
                                        country='United States',
                                        from_date='01/01/2010',
                                        to_date='01/01/2020')
print(df.head())

ConnectionError: ERR#0015: error 403, try again later.