In [1]:
import os
import math
import pandas as pd

In [28]:

def corpusPoint(age1=30, age2=50, unit=150000,  rr=0.13, initial=0):
  n=age2-age1 

  yearly = 12*unit 

  futureCorpus = initial * math.pow(1+rr,n)
  # (yearly*math.pow(1+rr,n)) + (yearly*math.pow(1+rr,n-1)) + (yearly*math.pow(1+rr,n-2))
  for i in range(1,n):
    futureCorpus+=  (yearly * math.pow(1+rr,n-i) )

  return futureCorpus



def corpusGrowthTrend(age1=30, age2=60, unit=150000,  rr=0.13, initial=0):
    n=age2-age1 
    yearly = 12*unit 

    corpusGrowth=[]
    corpusGrowth.append([age1, 0])
    # (yearly*math.pow(1+rr,n)) + (yearly*math.pow(1+rr,n-1)) + (yearly*math.pow(1+rr,n-2))
    
    for i in range(1,n):
        corpusGrowth.append([age1+i, round(corpusGrowth[i-1][1]*(1+rr),2)  + unit*12 ])
        
    return corpusGrowth



def corpusGrowthTrendVsRR(age1=30, age2=60, unit=150000):

    corpusGrowth=[]
    corpusGrowth.append([age1, 0,0,0,0,0,0,0,0,0,0])

    for i in range(1,age2-age1):
        j=0.10
        k=1
        row=[age1+i]
        while (j<=0.15):
            row.append(round(corpusGrowth[i-1][k]*(1+j),2)  + unit*12 )
            j+=0.005
            k+=1
        corpusGrowth.append(row)

    returnRates=["age"]
    j=0.10
    while (j<=0.15):
        returnRates.append(str(round(float(j*100),2))+'%')
        j+=0.005

    ageReturnMatrix=corpusGrowth
    ageReturnMatrix=pd.DataFrame(ageReturnMatrix)
    ageReturnMatrix.columns=returnRates
    ageReturnMatrix.set_index('age',inplace=True)
    
    return ageReturnMatrix

In [29]:
# corpusGrowthTrend(age1=30, age2=55, unit=130000,  rr=0.13, initial=0)

ageReturnMatrix=corpusGrowthTrendVsRR(age1=30, age2=55, unit=130000)

pd.options.display.float_format = '{:20,.0f}'.format
ageReturnMatrix

,10.0%,10.5%,11.0%,11.5%,12.0%,12.5%,13.0%,13.5%,14.0%,14.5%
age,,,,,,,,,,
30,0,0,0,0,0,0,0,0,0,0
31,"1,560,000","1,560,000","1,560,000","1,560,000","1,560,000","1,560,000","1,560,000","1,560,000","1,560,000","1,560,000"
32,"3,276,000","3,283,800","3,291,600","3,299,400","3,307,200","3,315,000","3,322,800","3,330,600","3,338,400","3,346,200"
33,"5,163,600","5,188,599","5,213,676","5,238,831","5,264,064","5,289,375","5,314,764","5,340,231","5,365,776","5,391,399"
34,"7,239,960","7,293,402","7,347,180","7,401,297","7,455,752","7,510,547","7,565,683","7,621,162","7,676,985","7,733,152"
35,"9,523,956","9,619,209","9,715,370","9,812,446","9,910,442","10,009,365","10,109,222","10,210,019","10,311,762","10,414,459"
36,"12,036,352","12,189,226","12,344,061","12,500,877","12,659,695","12,820,536","12,983,421","13,148,372","13,315,409","13,484,555"
37,"14,799,987","15,029,095","15,261,908","15,498,478","15,738,858","15,983,103","16,231,266","16,483,402","16,739,567","16,999,816"
38,"17,839,985","18,167,150","18,500,717","18,840,803","19,187,521","19,540,991","19,901,330","20,268,661","20,643,106","21,024,789"
39,"21,183,984","21,634,700","22,095,796","22,567,495","23,050,024","23,543,615","24,048,503","24,564,930","25,093,141","25,633,384"
40,"24,862,382","25,466,344","26,086,334","26,722,757","27,376,027","28,046,566","28,734,809","29,441,196","30,166,180","30,910,224"
41,"28,908,621","29,700,310","30,515,831","31,355,874","32,221,150","33,112,387","34,030,334","34,975,757","35,949,446","36,952,207"
42,"33,359,483","34,378,843","35,432,572","36,521,800","37,647,688","38,811,436","40,014,277","41,257,485","42,542,368","43,870,277"
43,"38,255,431","39,548,621","40,890,155","42,281,806","43,725,410","45,222,865","46,776,133","48,387,245","50,058,300","51,791,467"
44,"43,640,974","45,261,226","46,948,072","48,704,214","50,532,460","52,435,723","54,417,031","56,479,523","58,626,461","60,861,230"
45,"49,565,071","51,573,655","53,672,360","55,865,199","58,156,355","60,550,189","63,051,245","65,664,259","68,394,166","71,246,108"
46,"56,081,579","58,548,889","61,136,320","63,849,697","66,695,117","69,678,962","72,807,906","76,088,934","79,529,349","83,136,794"
47,"63,249,736","66,256,522","69,421,315","72,752,412","76,258,532","79,948,832","83,832,934","87,920,940","92,223,458","96,751,629"
48,"71,134,710","74,773,457","78,617,659","82,678,939","86,969,555","91,502,436","96,291,216","101,350,266","106,694,742","112,340,615"
49,"79,808,181","84,184,670","88,825,602","93,747,017","98,965,902","104,500,241","110,369,074","116,592,552","123,192,006","130,190,004"
50,"89,348,999","94,584,060","100,156,418","106,087,924","112,401,810","119,122,771","126,277,053","133,892,547","141,998,887","150,627,555"
51,"99,843,899","106,075,387","112,733,624","119,848,035","127,450,028","135,573,118","144,253,070","153,528,041","163,438,731","174,028,550"
52,"111,388,289","118,773,302","126,694,323","135,190,560","144,304,031","154,079,757","164,565,969","175,814,326","187,880,154","200,822,690"
53,"124,087,118","132,804,499","142,190,698","152,297,474","163,180,514","174,899,727","187,519,545","201,109,260","215,743,375","231,501,980"
54,"138,055,830","148,308,972","159,391,675","171,371,683","184,322,176","198,322,193","213,457,086","229,819,011","247,507,448","266,629,767"