In [48]:
# !pip3 install pandas

import os
import math
import pandas as pd
from IPython.display import display, HTML

In [53]:

def dfp(df):
    pd.options.display.float_format = '{:20,.0f}'.format
    pd.set_option('display.max_rows', 500)
    pd.set_option('display.max_columns', 500)
    pd.set_option('display.width', 1000)
    styles = [
        {'selector': 'tr', 'props': [('line-height', '12px')]},        # reduce row height
        {'selector': 'td, th', 'props': [('padding', '2px 20px'), ('font-size', '12px')]},  # reduce padding and font size
    ]
    styled_df = df.style.set_table_styles(styles).format('{:20,.0f}')
    html = f'<div style="height:500px; overflow:auto">{styled_df.to_html()}</div>'
    
    display(HTML(html))

def corpusGrowth(age1=30, age2=60, unit=120000, inflation = 0.05, realWageGrowth=0.05):
    
    corpusGrowth=[]

    rate_start=0.10
    rate_interval=0.01
    rate_end=0.13
    corpusGrowth.append([age1, 0,0,0,0])
    
    for i in range(1,age2-age1):
        j=rate_start
        k=1
        row=[age1+i]
        while (j<=(rate_end)):
            row.append(round(corpusGrowth[i-1][k]*(1+j),2)  + (unit*math.pow((1+realWageGrowth),i))*12 )
            j+=rate_interval
            k+=1
        corpusGrowth.append(row)

    returnRates=["age"]
    j=rate_start
    while (j<=rate_end):
        returnRates.append(str(round(float(j*100),0))+'%')
        j+=rate_interval

    ageReturnMatrix=corpusGrowth
    ageReturnMatrix=pd.DataFrame(ageReturnMatrix)
    ageReturnMatrix.columns=returnRates
    ageReturnMatrix.set_index('age',inplace=True)
    
    return ageReturnMatrix

In [57]:

inflation=0.00
idealisticTrend=corpusGrowth(age1=30, age2=52, unit=135000, inflation=inflation,realWageGrowth=(0.00-inflation))

dfp(idealisticTrend)