In [256]:
# !pip3 install pandas

import os
import math
import pandas as pd
from IPython.display import display, HTML

In [274]:

def dfp(df):
    pd.options.display.float_format = '{:20,.0f}'.format
    pd.set_option('display.max_rows', 500)
    pd.set_option('display.max_columns', 500)
    pd.set_option('display.width', 1000)
    styles = [
        {'selector': 'tr', 'props': [('line-height', '12px')]},        # reduce row height
        {'selector': 'td, th', 'props': [('padding', '2px 20px'), ('font-size', '12px')]},  # reduce padding and font size
    ]
    styled_df = df.style.set_table_styles(styles).format('{:20,.2f}')
    html = f'<div style="height:500px; overflow:auto">{styled_df.to_html()}</div>'
    
    display(HTML(html))

def corpusGrowth_trends(age1=30, age2=60, unit=135000, inflation=0.04, realWageGrowth=0.06):
    rate_start = 0.10
    rate_interval = 0.01
    rate_end = 0.13
    n_rates = int((rate_end - rate_start) / rate_interval) + 1

    # Prepare column order: age, then for each rate group: rate%, corpus, annualised return, present year unit
    columns = ['age']
    for i in range(n_rates):
        r = rate_start + i * rate_interval
        percent = f"{r:.2%}"
        columns += [
            f'rate_{percent}',
            f'corpus_{percent}',
            f'present_year_unit_{percent}'
        ]

    data = []
    # Initialize first row (age, then zeros and None for values)
    row = [age1]
    for i in range(n_rates):
        r_percent = f"{rate_start + i*rate_interval:.2%}"
        row += [rate_start + i*rate_interval, 0, None]
    data.append(row)

    for year in range(1, age2 - age1):
        curr_row = [age1 + year]
        prev_corpus = [data[-1][1 + i * 3 + 1] for i in range(n_rates)]  # corpus cols offset by 1 for rate col
        for i in range(n_rates):
            year_start_corpus = prev_corpus[i]
            rate = rate_start + i * rate_interval
            monthly_fraction = math.pow(1+rate - inflation + realWageGrowth, 1 / 12) 
            annualised_percent =  (math.pow(monthly_fraction, 12) ) 
            present_year_unit = unit * math.pow(1 + realWageGrowth, year - 1)

            if (monthly_fraction - 1) == 0:
                corpus = year_start_corpus*(1+rate)
            else:
                corpus = year_start_corpus*(1+rate) + (present_year_unit*( (math.pow(monthly_fraction, 12)-1)/(monthly_fraction-1) ))
            
            curr_row += [
                annualised_percent,
                corpus,
                present_year_unit
            ]
        data.append(curr_row)

    df = pd.DataFrame(data, columns=columns)
    df.set_index('age', inplace=True)
    return df

In [275]:

dfp(corpusGrowth_trends(age1=30, age2=51, unit=135000, inflation=0.00, realWageGrowth=0.00))