In [1]:
import os
import math
import pandas as pd

In [107]:

def corpusPoint(age1=30, age2=50, unit=150000,  rr=0.13, initial=0):
  n=age2-age1 

  yearly = 12*unit 

  futureCorpus = initial * math.pow(1+rr,n)
  # (yearly*math.pow(1+rr,n)) + (yearly*math.pow(1+rr,n-1)) + (yearly*math.pow(1+rr,n-2))
  for i in range(1,n):
    futureCorpus+=  (yearly * math.pow(1+rr,n-i) )

  return futureCorpus



def corpusGrowthTrend(age1=30, age2=60, unit=150000,  rr=0.13, initial=0):
    n=age2-age1 
    yearly = 12*unit 

    corpusGrowth=[]
    corpusGrowth.append([age1, 0])
    # (yearly*math.pow(1+rr,n)) + (yearly*math.pow(1+rr,n-1)) + (yearly*math.pow(1+rr,n-2))
    
    for i in range(1,n):
        corpusGrowth.append([age1+i, round(corpusGrowth[i-1][1]*(1+rr),2)  + unit*12 ])
        
    return corpusGrowth



def corpusGrowthTrendVsRR(age1=30, age2=60, unit=150000):

    corpusGrowth=[]
    corpusGrowth.append([age1, 0,0,0,0,0,0,0,0,0,0])

    for i in range(1,age2-age1):
        j=0.10
        k=1
        row=[age1+i]
        while (j<=0.15):
            row.append(round(corpusGrowth[i-1][k]*(1+j),2)  + unit*12 )
            j+=0.005
            k+=1
        corpusGrowth.append(row)

    returnRates=["age"]
    j=0.10
    while (j<=0.15):
        returnRates.append(str(round(float(j*100),2))+'%')
        j+=0.005

    ageReturnMatrix=corpusGrowth
    ageReturnMatrix=pd.DataFrame(ageReturnMatrix)
    ageReturnMatrix.columns=returnRates
    ageReturnMatrix.set_index('age',inplace=True)
    
    return ageReturnMatrix


def corpusGrowthTrendVsRealRR(age1=30, age2=60, unit=150000, inflation = 0.05):
    
    corpusGrowth=[]
    corpusGrowth.append([age1, 0,0,0,0,0,0,0,0,0,0])
    
    for i in range(1,age2-age1):
        j=0.10-inflation
        k=1
        row=[age1+i]
        while (j<=(0.15-inflation)):
            row.append(round(corpusGrowth[i-1][k]*(1+j),2)  + unit*12 )
            j+=0.005
            k+=1
        corpusGrowth.append(row)

    returnRates=["age"]
    j=0.10
    while (j<=0.15):
        returnRates.append(str(round(float(j*100),2))+'%')
        j+=0.005

    ageReturnMatrix=corpusGrowth
    ageReturnMatrix=pd.DataFrame(ageReturnMatrix)
    ageReturnMatrix.columns=returnRates
    ageReturnMatrix.set_index('age',inplace=True)
    
    return ageReturnMatrix

def corpusGrowthTrendVsRealRR_WageGrowth(age1=30, age2=60, unit=150000, inflation = 0.05, wageGrowth=0.05):
    
    corpusGrowth=[]
    corpusGrowth.append([age1, 0,0,0,0,0,0,0,0,0,0])
    
    for i in range(1,age2-age1):
        j=0.10-inflation
        k=1
        row=[age1+i]
        while (j<=(0.15-inflation)):
            row.append(round(corpusGrowth[i-1][k]*(1+j),2)  + (unit*math.pow((1+wageGrowth),i))*12 )
            j+=0.005
            k+=1
        corpusGrowth.append(row)

    returnRates=["age"]
    j=0.10
    while (j<=0.15):
        returnRates.append(str(round(float(j*100),2))+'%')
        j+=0.005

    ageReturnMatrix=corpusGrowth
    ageReturnMatrix=pd.DataFrame(ageReturnMatrix)
    ageReturnMatrix.columns=returnRates
    ageReturnMatrix.set_index('age',inplace=True)
    
    return ageReturnMatrix


def corpusGrowth_v2(age1=30, age2=55, unit=120000, inflation = 0.05, realWageGrowth=0.05, rr=0.13):
    
    corpusGrowth=[]

    rate_start=0.10
    rate_interval=0.01
    rate_end=0.15
    corpusGrowth.append([age1, 0,0,0,0,0,0])
    
    for i in range(1,age2-age1):
        j=rate_start-inflation
        k=1
        row=[age1+i]
        while (j<=(rate_end-inflation)):
            row.append(round(corpusGrowth[i-1][k]*(1+j),2)  + (unit*math.pow((1+realWageGrowth),i))*12 )
            j+=rate_interval
            k+=1
        corpusGrowth.append(row)

    returnRates=["age"]
    j=rate_start
    while (j<=rate_end+rate_interval):
        returnRates.append(str(round(float(j*100),0))+'%')
        j+=rate_interval

    ageReturnMatrix=corpusGrowth
    ageReturnMatrix=pd.DataFrame(ageReturnMatrix)
    ageReturnMatrix.columns=returnRates
    ageReturnMatrix.set_index('age',inplace=True)
    
    return ageReturnMatrix

In [113]:
pd.options.display.float_format = '{:20,.0f}'.format

# corpusGrowthTrend = corpusGrowthTrend(age1=30, age2=50, unit=130000,  rr=0.13, initial=0)
# ageNominalReturnMatrix = corpusGrowthTrendVsRR(age1=30, age2=50, unit=130000)
# ageRealReturnMatrix = corpusGrowthTrendVsRealRR(age1=30, age2=55, unit=120000, inflation=0.05)
# ageRealReturnMatrix_wageGrowth = corpusGrowthTrendVsRealRR_WageGrowth(age1=30, age2=55, unit=130000, inflation=0.05,wageGrowth=(0.1-0.05))
idealisticTrend=corpusGrowth_v2(age1=30, age2=55, unit=120000, inflation=0.05,realWageGrowth=(0.07-0.05), rr=0.13)

idealisticTrend

# controllable_variables = (realWageGrowth, rr)

,10.0%,11.0%,12.0%,13.0%,14.0%,15.0%
age,,,,,,
30,0,0,0,0,0,0
31,"1,468,800","1,468,800","1,468,800","1,468,800","1,468,800","1,468,800"
32,"3,040,416","3,055,104","3,069,792","3,084,480","3,099,168","3,113,856"
33,"4,720,576","4,766,550","4,812,817","4,859,378","4,906,233","4,953,381"
34,"6,515,307","6,611,245","6,708,416","6,806,830","6,906,496","7,007,422"
35,"8,430,949","8,597,796","8,767,882","8,941,253","9,117,957","9,298,040"
36,"10,474,171","10,735,338","11,003,308","11,278,227","11,560,247","11,849,518"
37,"12,651,986","13,033,565","13,427,646","13,834,593","14,254,776","14,688,577"
38,"14,971,775","15,502,769","16,054,771","16,628,550","17,224,896","17,844,624"
39,"17,441,297","18,153,868","18,899,539","19,679,767","20,496,070","21,350,020"
40,"20,068,714","20,998,452","21,977,858","23,009,501","24,096,068","25,240,374"
41,"22,862,609","24,048,818","25,306,767","26,640,720","28,055,173","29,554,870"
42,"25,832,007","27,318,016","28,904,509","30,598,245","32,406,407","34,336,626"
43,"28,986,401","30,819,890","32,790,618","34,908,899","37,185,777","39,633,082"
44,"32,335,771","34,569,133","36,986,011","39,601,660","42,432,546","45,496,439"
45,"35,890,610","38,581,331","41,513,082","44,707,843","48,189,526","51,984,134"
46,"39,661,952","42,873,023","46,395,809","50,261,282","54,503,395","59,159,358"
47,"43,661,397","47,461,752","51,659,864","56,298,532","61,425,048","67,091,642"
48,"47,901,141","52,366,131","57,332,729","62,859,089","69,009,977","75,857,481"
49,"52,394,007","57,605,907","63,443,828","69,985,624","77,318,683","85,541,037"
50,"57,153,471","63,202,026","70,024,660","77,724,239","86,417,129","96,234,905"
51,"62,193,704","69,176,707","77,108,946","86,124,737","96,377,230","108,040,955"
52,"67,529,600","75,553,520","84,732,783","95,240,927","107,277,391","121,071,261"
53,"73,176,815","82,357,467","92,934,812","105,130,936","119,203,091","135,449,122"
54,"79,151,806","89,615,064","101,756,399","115,857,561","132,247,519","151,310,184"