In [3]:
# !pip3 install pandas

import os
import math
import pandas as pd

In [4]:

def corpusPoint(age1=30, age2=50, unit=150000,  rr=0.13, initial=0):
  n=age2-age1 

  yearly = 12*unit 

  futureCorpus = initial * math.pow(1+rr,n)
  # (yearly*math.pow(1+rr,n)) + (yearly*math.pow(1+rr,n-1)) + (yearly*math.pow(1+rr,n-2))
  for i in range(1,n):
    futureCorpus+=  (yearly * math.pow(1+rr,n-i) )

  return futureCorpus



def corpusGrowthTrend(age1=30, age2=60, unit=150000,  rr=0.13, initial=0):
    n=age2-age1 
    yearly = 12*unit 

    corpusGrowth=[]
    corpusGrowth.append([age1, 0])
    # (yearly*math.pow(1+rr,n)) + (yearly*math.pow(1+rr,n-1)) + (yearly*math.pow(1+rr,n-2))
    
    for i in range(1,n):
        corpusGrowth.append([age1+i, round(corpusGrowth[i-1][1]*(1+rr),2)  + unit*12 ])
        
    return corpusGrowth



def corpusGrowthTrendVsRR(age1=30, age2=60, unit=150000):

    corpusGrowth=[]
    corpusGrowth.append([age1, 0,0,0,0,0,0,0,0,0,0])

    for i in range(1,age2-age1):
        j=0.10
        k=1
        row=[age1+i]
        while (j<=0.15):
            row.append(round(corpusGrowth[i-1][k]*(1+j),2)  + unit*12 )
            j+=0.005
            k+=1
        corpusGrowth.append(row)

    returnRates=["age"]
    j=0.10
    while (j<=0.15):
        returnRates.append(str(round(float(j*100),2))+'%')
        j+=0.005

    ageReturnMatrix=corpusGrowth
    ageReturnMatrix=pd.DataFrame(ageReturnMatrix)
    ageReturnMatrix.columns=returnRates
    ageReturnMatrix.set_index('age',inplace=True)
    
    return ageReturnMatrix


def corpusGrowthTrendVsRealRR(age1=30, age2=60, unit=150000, inflation = 0.05):
    
    corpusGrowth=[]
    corpusGrowth.append([age1, 0,0,0,0,0,0,0,0,0,0])
    
    for i in range(1,age2-age1):
        j=0.10-inflation
        k=1
        row=[age1+i]
        while (j<=(0.15-inflation)):
            row.append(round(corpusGrowth[i-1][k]*(1+j),2)  + unit*12 )
            j+=0.005
            k+=1
        corpusGrowth.append(row)

    returnRates=["age"]
    j=0.10
    while (j<=0.15):
        returnRates.append(str(round(float(j*100),2))+'%')
        j+=0.005

    ageReturnMatrix=corpusGrowth
    ageReturnMatrix=pd.DataFrame(ageReturnMatrix)
    ageReturnMatrix.columns=returnRates
    ageReturnMatrix.set_index('age',inplace=True)
    
    return ageReturnMatrix

def corpusGrowthTrendVsRealRR_WageGrowth(age1=30, age2=60, unit=150000, inflation = 0.05, wageGrowth=0.05):
    
    corpusGrowth=[]
    corpusGrowth.append([age1, 0,0,0,0,0,0,0,0,0,0])
    
    for i in range(1,age2-age1):
        j=0.10-inflation
        k=1
        row=[age1+i]
        while (j<=(0.15-inflation)):
            row.append(round(corpusGrowth[i-1][k]*(1+j),2)  + (unit*math.pow((1+wageGrowth),i))*12 )
            j+=0.005
            k+=1
        corpusGrowth.append(row)

    returnRates=["age"]
    j=0.10
    while (j<=0.15):
        returnRates.append(str(round(float(j*100),2))+'%')
        j+=0.005

    ageReturnMatrix=corpusGrowth
    ageReturnMatrix=pd.DataFrame(ageReturnMatrix)
    ageReturnMatrix.columns=returnRates
    ageReturnMatrix.set_index('age',inplace=True)
    
    return ageReturnMatrix


def corpusGrowth_v2(age1=30, age2=60, unit=120000, inflation = 0.05, realWageGrowth=0.05, rr=0.13):
    
    corpusGrowth=[]

    rate_start=0.10
    rate_interval=0.01
    rate_end=0.15
    corpusGrowth.append([age1, 0,0,0,0,0,0])
    
    for i in range(1,age2-age1):
        j=rate_start-inflation
        k=1
        row=[age1+i]
        while (j<=(rate_end-inflation)):
            row.append(round(corpusGrowth[i-1][k]*(1+j),2)  + (unit*math.pow((1+realWageGrowth),i))*12 )
            j+=rate_interval
            k+=1
        corpusGrowth.append(row)

    returnRates=["age"]
    j=rate_start
    while (j<=rate_end+rate_interval):
        returnRates.append(str(round(float(j*100),0))+'%')
        j+=rate_interval

    ageReturnMatrix=corpusGrowth
    ageReturnMatrix=pd.DataFrame(ageReturnMatrix)
    ageReturnMatrix.columns=returnRates
    ageReturnMatrix.set_index('age',inplace=True)
    
    return ageReturnMatrix

In [8]:
pd.options.display.float_format = '{:20,.0f}'.format

# corpusGrowthTrend = corpusGrowthTrend(age1=30, age2=50, unit=130000,  rr=0.13, initial=0)
# ageNominalReturnMatrix = corpusGrowthTrendVsRR(age1=30, age2=50, unit=130000)
# ageRealReturnMatrix = corpusGrowthTrendVsRealRR(age1=30, age2=55, unit=120000, inflation=0.05)
# ageRealReturnMatrix_wageGrowth = corpusGrowthTrendVsRealRR_WageGrowth(age1=30, age2=55, unit=130000, inflation=0.05,wageGrowth=(0.1-0.05))
idealisticTrend=corpusGrowth_v2(age1=30, age2=60, unit=135000, inflation=0.04,realWageGrowth=(0.07-0.05), rr=0.13)

idealisticTrend

# controllable_variables = (realWageGrowth, rr)

,10.0%,11.0%,12.0%,13.0%,14.0%,15.0%
age,,,,,,
30,0,0,0,0,0,0
31,"1,652,400","1,652,400","1,652,400","1,652,400","1,652,400","1,652,400"
32,"3,436,992","3,453,516","3,470,040","3,486,564","3,503,088","3,519,612"
33,"5,362,368","5,414,419","5,466,800","5,519,512","5,572,554","5,625,926"
34,"7,437,651","7,546,969","7,657,684","7,769,808","7,883,349","7,998,318"
35,"9,672,521","9,863,867","10,058,910","10,257,701","10,460,295","10,666,744"
36,"12,077,255","12,378,721","12,688,006","13,005,278","13,330,708","13,664,469"
37,"14,662,761","15,106,102","15,563,917","16,036,624","16,524,649","17,028,432"
38,"17,440,615","18,061,618","18,707,119","19,378,008","20,075,202","20,799,647"
39,"20,423,102","21,261,981","22,139,738","23,058,078","24,018,773","25,023,658"
40,"23,623,259","24,725,090","25,885,688","27,108,077","28,395,421","29,751,032"
41,"27,054,921","28,470,113","29,970,810","31,562,070","33,249,229","35,037,912"
42,"30,732,768","32,517,573","34,423,026","36,457,208","38,628,704","40,946,634"
43,"34,672,377","36,889,446","39,272,511","41,833,999","44,587,217","47,546,406"
44,"38,890,275","41,609,262","44,551,867","47,736,615","51,183,494","54,914,066"
45,"43,403,998","46,702,218","50,296,323","54,213,217","58,482,150","63,134,920"
46,"48,232,151","52,195,286","56,543,942","61,316,319","66,554,278","72,303,674"
47,"53,394,471","58,117,347","63,335,849","69,103,179","75,478,097","82,525,470"
48,"58,911,898","64,499,320","70,716,475","77,636,224","85,339,666","93,917,030"
49,"64,806,646","71,374,306","78,733,827","86,983,518","96,233,667","106,607,938"
50,"71,102,279","78,777,743","87,439,768","97,219,270","108,264,268","120,742,046"
51,"77,823,796","86,747,564","96,890,329","108,424,383","121,546,074","136,479,050"
52,"84,997,710","95,324,381","107,146,043","120,687,065","136,205,169","153,996,233"
53,"92,652,150","104,551,664","118,272,303","134,103,478","152,380,262","173,490,395"
54,"100,816,947","114,475,949","130,339,756","148,778,459","170,223,957","195,180,007"
55,"109,523,746","125,147,047","143,424,718","164,826,302","189,904,134","219,307,589"
56,"118,806,108","136,618,278","157,609,633","182,371,606","211,605,485","246,142,362"
57,"128,699,630","148,946,713","172,983,559","201,550,207","235,531,190","275,983,177"
58,"139,242,068","162,193,442","189,642,703","222,510,185","261,904,768","309,161,786"
59,"150,473,460","176,423,852","207,690,988","245,412,970","290,972,113","346,046,451"